.topInfo {
    width: 100vw;
    height: 20vh;
}

/* Bottom Forms */
.bottomForm {
    width: 100vw;
    height: 80vh;

    border-radius: 2rem 2rem 0 0;
    padding: 1rem;

    box-sizing: border-box;

    background-color: var(--bg-ligth-color);
    color: var(--primary-mid-color);
}
/* top tab */
.bottomForm .topTab .box {
    background-color: #d0d0d0;
    border-radius: 4rem;
    height: 64px;

    display: flex;
    position: relative;
}
.bottomForm .topTab .box .pillBox {
    background-color: var(--bg-ligth-color);
    border-radius: 4rem;
    height: calc(64px - 16px);
    width: calc(50% - 16px);
    top: 8px;
    position: absolute;

    z-index: 1;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px;

    transition: all 0.5s ease-in-out;
}
.bottomForm .topTab .box .pillBox.active {
    margin: 0 0 0 8px;
}
.bottomForm .topTab .box .pillBox {
    margin: 0 0 0 calc(50% + 8px);
}
.bottomForm .topTab .box .item {
    background-color: transparent;
    border: none;
    color: var(--primary-mid-color);
    border-radius: 4rem;
    height: calc(64px - 16px);
    width: calc(50% - 16px);
    margin: 8px 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}
.bottomForm .topTab .box .item p {
    font-size: 1.2rem;
}
/* mid form */
.bottomForm .formBox .itemField {
    margin: 1rem 0 0 0;
}
.bottomForm .formBox .summitField {
    background-color: var(--primary-mid-color);
    color: var(--bg-ligth-color);
    width: 100%;
    height: auto;
    border-radius: 4rem;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem 0 0 0;
}
.bottomForm .formBox .itemField .fieldBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    border: thin solid #cccccc;
    background-color: var(--bg-ligth-color);
}
